---
import BaseLayout from '@layouts/BaseLayout.astro';
import Button from '@components/atoms/Button.astro';
---

<BaseLayout title="Astro + Biome">
  <h1>Astro + Biome</h1>
  <Button>Mi Botón</Button>
</BaseLayout>
