---
// IconText component

export interface Props {
  icon: string;
  description: string;
  textClass: string;
}

const { icon, description, textClass } = Astro.props;
---

<div class="icon-text">
  <img src={icon} alt={description} class="icon-text__icon" />
  <h2 class={`icon-text__text icon-text__text--${textClass}`}>{description}</h2>
</div>

<style lang="scss">
  .icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
  }

  .icon-text__text {
    margin: 0;
  }

  .icon-text__text--center {
    text-align: center;
  }

  .icon-text__text--left {
    text-align: left;
  }
</style>
