---
// HeroInformation component
---

<div class="hero-info">
  <h1 class="hero-info__title">Leemos, creamos, pensamos contigo</h1>
  <div class="hero-info__subtitle">
    <h5 class="hero-info__subtitle-text">
      Donde la cultura se vive y se comparte
    </h5>
  </div>
  <h4 class="hero-info__description">
    En Fundación Entrelineas creemos que los libros, el arte y el pensamiento
    crítico transforman realidades. Aquí encontrarás un espacio para descubrir,
    reflexionar y compartir.
  </h4>
</div>

<style lang="scss">
  .hero-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background-color: $color-accent;
    padding: $spacing-2xl;
    gap: $spacing-md;
  }

  .hero-info__title {
    font-size: $font-size-2xl;
    font-weight: 600;
    color: $color-text-light;
    text-align: left;
    margin: 0;
  }

  .hero-info__subtitle {
    background-color: $color-primary;
    padding: $spacing-sm;
    width: fit-content;
  }

  .hero-info__subtitle-text {
    font-size: $font-size-base;
    font-weight: 800;
    color: $color-text;
    text-align: left;
    margin: 0;
  }

  .hero-info__description {
    font-size: $font-size-base;
    font-weight: 600;
    color: $color-text-light;
    text-align: left;
    margin: 0;
  }
</style>
