---
// HeroInformation component
---

<div class="hero-information">
    <h1>Leemos, creamos, pensamos contigo</h1>
    <div class="hero-information-subtitle">
        <h5>Donde la cultura se vive y se comparte</h5>
    </div>
    <h4>En Fundación Entrelineas creemos que los libros, el arte y el pensamiento crítico transforman realidades. Aquí encontrarás un espacio para descubrir, reflexionar y compartir.</h4>
</div>


<style lang="scss">
    .hero-information {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        background-color: $color-accent;
        padding: $spacing-2xl;
        gap: $spacing-md;
    }

    h1 {
        font-size: $font-size-2xl;
        font-weight: 600;
        color: $color-text-light;
        text-align: left;
        margin: 0;
    }

    .hero-information-subtitle {
        background-color: $color-primary;
        padding: $spacing-sm;
        width: fit-content;
    }

    h5 {
        font-size: $font-size-base;
        font-weight: 800;
        color: $color-text;
        text-align: left;
        margin: 0;
    }

    h4 {
        font-size: $font-size-base;
        font-weight: 600;
        color: $color-text-light;
        text-align: left;
        margin: 0;
    }
</style>