---
// SectionTitle component

export interface Props {
  orientation: 'left' | 'right';
}

const { orientation = 'left' } = Astro.props;
---

<div class={`section-title section-title--${orientation}`}>
  <slot />
</div>

<style lang="scss">
  .section-title {
    height: 150px;
    background-color: $color-accent;
    border-left: 60px solid $border-color;
    padding: $spacing-2xl;
    color: $color-bg-light;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .section-title--left {
    margin-left: 20%;
  }

  .section-title--right {
    margin-right: 20%;
  }
</style>
