---
// Collaborators component
import SectionTitle from '../molecules/SectionTitle.astro';
---

<div class="collaborators">
  <SectionTitle orientation="left">
    <div class="collaborators__title">Colaboradores</div>
  </SectionTitle>
  <div class="collaborators__content">
    <p class="collaborators__description">Contenido de colaboradores...</p>
  </div>
</div>

<style lang="scss">
  .collaborators {
    background-color: $color-bg-light;
    border: 1px solid $border-color;
  }

  .collaborators__content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .collaborators__description {
    margin: 0;
    color: $color-text;
    font-size: $font-size-base;
  }
</style>
