---
// Footer component
---

<div class="footer-content">
  <p>Footer</p>
</div>

<style lang="scss">
  .footer-content {
    height: $footer-height;
    background-color: $color-bg-dark;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;

    p {
      margin: 0;
      font-size: $font-size-base;
      color: $color-text-light;

      &:hover {
        color: white;
        transition: color 0.2s ease;
      }
    }
  }
</style>
