---
// WhatWeDo component
---

<div class="what-we-do">
  <h2 class="what-we-do__title">Qué hacemos</h2>
</div>

<style lang="scss">
  .what-we-do {
    height: 200px;
    background-color: $color-bg-light;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
  }

  .what-we-do__title {
    margin: 0;
    color: $color-text;
    font-size: $font-size-2xl;
  }
</style>
