---
// WhatWeDo component
import SectionTitle from '../molecules/SectionTitle.astro';
---

<div class="what-we-do">
  <SectionTitle orientation="right">
    <div class="what-we-do__title">Qué hacemos</div>
  </SectionTitle>
  <div class="what-we-do__content">
    <p class="what-we-do__description">Contenido de qué hacemos...</p>
  </div>
</div>

<style lang="scss">
  .what-we-do {
  }

  .what-we-do__content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .what-we-do__description {
    margin: 0;
    color: $color-text;
    font-size: $font-size-base;
  }
</style>
