---
// WhoWeAre component
---

<div class="who-we-are">
  <h2>Quiénes somos</h2>
</div>

<style lang="scss">
  .who-we-are {
    height: 200px;
    background-color: $color-bg-light;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;

    h2 {
      margin: 0;
      color: $color-text;
      font-size: $font-size-2xl;
    }
  }
</style>
