---
// WhoWeAre component

import SectionTitle from '../molecules/SectionTitle.astro';
import IconText from '../atoms/IconText.astro';

const Icons = [
  {
    icon: '/icons/who-we-are-icon.svg',
    description: 'Quiénes somos',
    textClass: 'text-center',
  },
  {
    icon: '/icons/mission-icon.svg',
    description: 'Misión',
    textClass: 'text-left',
  },
  {
    icon: '/icons/vision-icon.svg',
    description: 'Visión',
    textClass: 'text-left',
  },
];
---

<div class="who-we-are">
  {/* TITLE */}
  <SectionTitle orientation="left">
    <div class="who-we-are__title">
      {
        Icons.map(({ icon, description, textClass }) => (
          <IconText
            icon={icon}
            description={description}
            textClass={textClass}
          />
        ))
      }
    </div>
  </SectionTitle>
  {/* CONTENT */}
  <div class="who-we-are__content">
    <h2>Quiénes somos</h2>
  </div>
</div>

<style lang="scss">
  .who-we-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .who-we-are__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
    width: 100%;
    max-width: 800px; // Limita el ancho máximo para mejor distribución
  }

  .who-we-are__content {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
</style>
