---
// WhoWeAre component
import SectionTitle from '../molecules/SectionTitle.astro';
---

<div class="who-we-are">
  <SectionTitle orientation="left">
    <div class="who-we-are__title">Quiénes somos</div>
  </SectionTitle>
  <div class="who-we-are__content">
    <p class="who-we-are__description">Contenido de quiénes somos...</p>
  </div>
</div>

<style lang="scss">
  .who-we-are {
  }

  .who-we-are__content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .who-we-are__description {
    margin: 0;
    color: $color-text;
    font-size: $font-size-base;
  }
</style>
